body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #F7A7AB;
    font-family: 'PixelGamingRegular';
    font-style: normal;
    font-weight: 450;
    font-size: 2.5vmin;
    line-height: 3vmin;
    color: #FFFFFF;
}

#gameWrapper {
    width: 45vmin;
    height: 80vmin;
    background-repeat: no-repeat;
    background-image: url(/assests/gameboy.svg);
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(32px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 8px;
}

#gameBoardWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

#gameBoard {
    border-radius: 3px;
    width: 24vmin;
    height: 19vmin;
    display: grid;
    margin-left: -1vmin;
    margin-top: 14.5vmin;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.overstate{
    position: relative;
    top:-30vmin;
    text-align: center;
    font-weight: 450; 
}

.gameover {
    color: #EE3537;
    position: absolute;
    width: 15vmin;
    top: 19vmin;
    left: 4vmin;
}


.food div {
    width: 100%;
    height: 100%;
    background-color: #EE3537;
   
}

.arrowWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    margin-top: 12vmin;
    margin-left: 4.5vmin;
}

.middleKeys{
    display: flex;
}

.key {
    width: 7vmin;
    height: 3.28vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
}

#buttonWrapper{
    width: 14vmin;
    height: 6vmin;
    display: flex;
    margin-top: 6vmin;
} 

.startGame { 
    background-image: url(/assests/buttons-start.svg);
    background-repeat: no-repeat;
}

.resetGame {
    background-image: url(/assests/buttons-reset.svg);
    background-repeat: no-repeat;
}

#startGameButton{
    height: 6vmin;
    width: 7vmin;
}


#restartGameButton{
    height: 6vmin;
    width: 7vmin;
}

#foodWrapper {
    position: absolute;
    top: 23vmin;
    font-size: 1.5vmin;
    left: 6.5vmin;
}

#plusMinusButton{
    background-image: url(/assests/food-buttons.svg);
    background-repeat: no-repeat;
    width: 16vmin;
    position: absolute;
    height: 11vmin;
    right: 3vmin;
    display: flex;
    top: 45vmin;
}

.plus-button-pressed{
    background-image: url(/assests/food-buttons-plus.svg)!important;
}

.minus-button-pressed{
    background-image: url(/assests/food-buttons-minus.svg)!important;
}

#plusButton{
    position: relative;
    width: 5vmin;
    height: 5vmin;
    top: 4vmin;
    left: 2vmin;
}

#minusButton{
    position: relative;
    width: 5vmin;
    height: 5vmin;
    top: 2vmin;
    left: 3vmin;
}

.bubble-controls{
    background-image: url(/assests/controls-bubble.svg);
    width: 40vmin;
    height: 34vmin;
    background-repeat: no-repeat;
    margin-left: -15%;
    margin-top: -14%;
}

.hide {
    display: none !important;
}

.flash {
    animation-name: flash-animation;
    animation-duration: 0.3s;
}

@keyframes flash-animation {
    from {
        color: #3b3b3b;
    }

    to {
        color: default;
    }
}