body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('./assests/gameBackground.png');
    background-position: center;
    font-family: 'FiraCode';
    font-style: normal;
    font-weight: 450;
    font-size: 2.5vmin;
    line-height: 3vmin;
    color: #FFFFFF;
}

#gameWrapper {
    width: 102vmin;
    height: 96vmin;
    background: linear-gradient(150.26deg, rgba(23, 85, 83, 0.7) 1.7%, rgba(67, 217, 173, 0.091) 81.82%);
    border: 1px solid #0C1616;
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(32px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 8px;
}

#gameBoardWrapper {
    display: flex;
    justify-content: space-evenly;
    max-height: 80vmin;
}

#gameBoard {
    background: rgba(1, 22, 39, 0.84);
    box-shadow: inset 1px 5px 11px rgba(2, 18, 27, 0.71);
    border-radius: 8px;
    width: 48vmin;
    height: 80vmin;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(40, 1fr);
}

#gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#startGameButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    gap: 10px;
    position: relative;
    width: 20vmin;
    height: 5vmin;
    top: -18vmin;
    margin: auto;
    color: #010C15;
    background: #FEA55F;
    border-radius: 8px;
    font-size: 3vmin;
}
.overstate{
    position: relative;
    top:-30vmin;
    text-align: center;
    font-weight: 450; 
}

.gameover {
    width: 48vmin;
    height: 9vmin;   
    background: rgba(1, 22, 39, 0.84);
    box-shadow: inset 1px 5px 11px rgba(2, 18, 27, 0.71);
    border-radius: 8px;
    font-size: 4vmin;
    color: #43D9AD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restartGame{
    margin-top: 5vmin;
    position: relative;     
    color: #607B96;
    cursor: pointer;
}
.restartGame:hover, .restartGame:active{
    color: white;
}
.food div {
    width: 200%;
    height: 200%;
    background: url('./assests/food.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -50%;
    left: -50%;
}

.bolts {
    margin: 2.6vmin;
    display: flex;
    justify-content: space-between;
}

.bolt {
    width: 2.6vmin;
    height: 2.6vmin;
    border-radius: 2vmin;
    background: radial-gradient(73.08% 73.08% at 50% 26.92%, #217D7A 15.1%, #114B4A 100%);
    box-shadow: 2px 2px 4px #0D4341, inset 0px 1px 2px #1F8177;
    display: flex;
    align-items: center;
    justify-content: center;
}


.xicon {
    background: url('/assests/bolt.svg');
    background-size: cover;
    width: 1.2vmin;
    height: 1.1vmin;
}

.keysWrapper {
    padding: 17px 15px;
    background: rgba(1, 20, 35, 0.19);
    border-radius: 8px;
    width: 32vmin;
    height: 22vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrowWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topKeys {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottomKeys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.key {
    width: 9vmin;
    height: 5vmin;
    background: #010C15;
    border: 1px solid #1E2D3D;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foodWrapper {
    margin-top: 20px;
    padding: 14px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#skipButton {
    box-sizing: border-box;
    width: 13vmin;
    height: 7vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    gap: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    float: right;
    align-self: flex-end;
}

.restingFood {
    width: 4vmin;
    height: 4vmin;
    background: url('./assests/food.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#foodList {
    width: 30vmin;
    height: 10vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.flash {
    animation-name: flash-animation;
    animation-duration: 0.3s;
}

.hide {
    display: none !important;
}


@keyframes flash-animation {
    from {
        color: #1cffbb;
        background: hsla(207, 95%, 8%, 0.84);
    }

    to {
        color: default;
        background: default;
    }
}