body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #F7A7AB;
    font-family: 'FiraCode';
    font-style: normal;
    font-weight: 450;
    font-size: 2.5vmin;
    line-height: 3vmin;
    color: #FFFFFF;
}

#gameWrapper {
    width: 45vmin;
    height: 80vmin;
    background-repeat: no-repeat;
    background-image: url(/assests/gameboy.svg);
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(32px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 8px;
}

#gameBoardWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

#gameBoard {
     border-radius: 3px;
     width: 25vmin;
     height: 20vmin;
     display: grid;
     margin-left: -1vmin;
     margin-top: 7.5vmin;
     grid-template-columns: repeat(20, 1fr);
     grid-template-rows: repeat(20, 1fr);
}

#gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#startGameButton {
    width: 20vmin;
    height: 5vmin;
    top: -18vmin;
    margin: auto;
    color: #010C15;
    border-radius: 8px;
    font-size: 3vmin;
}
.overstate{
    position: relative;
    top:-30vmin;
    text-align: center;
    font-weight: 450; 
}

.gameover {
    color: #EE3537;
    position: absolute;
    top: 20vmin;
    left: 5vmin;
}

.restartGame {
    margin-top: 5vmin;
    position: relative;     
    color: #607B96;
    cursor: pointer;
}
.restartGame:hover, .restartGame:active{
    color: white;
}
.food div {
    width: 100%;
    height: 100%;
    background-color: #EE3537;
   
}

.arrowWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.key {
    width: 9vmin;
    height: 5vmin;
    background: #010C15;
    border: 1px solid #1E2D3D;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foodWrapper {
    margin-top: 20px;
    padding: 14px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.hide {
    display: none !important;
}

.flash {
    animation-name: flash-animation;
    animation-duration: 0.3s;
}

@keyframes flash-animation {
    from {
        color: #1cffbb;
        background: hsla(207, 95%, 8%, 0.84);
    }

    to {
        color: default;
        background: default;
    }
}